
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<form action="@Url.Action("Login","Account")" method="post" id="login-form">

    @Html.AntiForgeryToken()
    <center>
        <h2>Login</h2><br /><br />
        <label>User Name</label>
        <input type="text" id="Email" name="Email" /><br /><br /><br />
        <label>Password</label>
        <input type="Password" id="Password" name="Password" /><br /><br />
        <input type="submit" value="Submit" class="btn btn-danger" />
    </center>

</form>

